@page
@model Test.Pages.IndexModel
@{
    Layout = null;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/css/main.css">

<div class="container">
    <div class="wrapper">
        <form class="form-signin" method="post">
            <h3 class="form-signin-heading">Please Enter the OTP to Unlock the Door</h3>
            <hr class="colorgraph"><br>

            <input type="text" class="form-control" asp-for="OTP" />

            <button class="btn btn-lg btn-primary btn-block" asp-page-handler="Submit"  type="Submit">Submit</button>
        </form>
    </div>
</div>
